@import "../../vars.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  padding: 0;
}

.dropdown {
  margin-top: 20px;
  padding: 10px;
  /* background-color: #f9f9f9; */
  background-image: linear-gradient(
    90deg,
    rgba(99, 109, 112, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  /* border: 1px solid #ddd; */
  border-radius: 4px;
}
