.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 77%;
  width: 100%;
  position: relative;
  overflow-y: auto; /* 세로 스크롤 가능하게 설정 */
  overflow-x: hidden; /* 가로 스크롤 숨김 */
}

.modalContent h2 {
  color: black;
}

.modalContent p {
  color: black;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.projectImage {
  width: 50%; /* 모달의 폭에 맞게 조정 */
  height: auto; /* 비율 유지 */
  margin: 10px 0; /* 이미지 위아래 여백 추가 */
  border-radius: 8px; /* 이미지 둥글게 */
}
