@import "../../vars.css";

.container {
  display: flex;
  flex-direction: row;
  gap: 35px;
  padding: 20px;
  background-color: #00000070;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.container img {
  width: 100%;
  height: auto;
  max-width: 500px;
  object-fit: contain;
  border-radius: 10px;
}

.cardText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  padding-right: 10px;
}

.cardTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.textTitle {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textTitle h3 {
  font-size: 18px;
  color: #ffffff;
  margin: 0;
  font-weight: bold;
}

.size {
  font-size: 14px;
  color: #ffffff;
  font-style: italic;
}

.description {
  font-size: 16px;
  color: #c3c1c1;
  margin-top: 10px;
}

.workList {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.workItem {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: end; /* 버튼 간격 조정 */
  margin-top: 20px; /* 위쪽 여백 추가 */
  gap: 5px;
}

.button {
  padding: 10px; /* 버튼 안쪽 여백 */
  border: none; /* 기본 테두리 제거 */
  border-radius: 5px; /* 모서리 둥글게 */
  background-color: #28486d6f; /* 버튼 배경색 */
  color: white; /* 버튼 글자색 */
  text-decoration: none; /* 밑줄 제거 */
  transition: background-color 0.3s; /* 호버 효과 전환 */
}

.button:hover {
  background-color: #357ab8; /* 호버 시 배경색 변경 */
}
.skillContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.skill {
  border: 2px solid #25384f;
  border-radius: 12px;
  padding: 8px 12px;
  font-size: 14px;
  color: #c4c3c3;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.skill:hover {
  background-color: #4a90e2;
  color: #fff;
}
